body {
    max-width: 100%;
    margin: auto;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    font-size: 2.5rem;
    width: 100%;
    margin-top: 50px;
    margin-left: 15px;
  }
  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  /* make images flexible */
  img {
    max-width: 100%;
    border-radius:10px;
  }
  a {
    color: #59331d;
  }
  a:hover {
    text-decoration: none;
  }
  header {
    background-color: #082B59;
    height: 408px;
    border-bottom: 10px solid #d98555;
  }
  /* navbar styling */
  nav ul {
    padding: 0;
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-direction:column;
    justify-content: center;
  }
  nav li {
    margin: 0rem 1rem 0rem 1rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* max width on the image in pixels */
  nav .logo img {
    margin-top: .5rem;
    max-width: 200px;
  }
  /* flex basis on the image container, li */
  nav a {
    margin-top: 1rem;
    margin-bottom: .75rem;
    color: white;
    text-decoration: none;
    display: block;
  }
  nav a:hover {
    color: #d98555;
  }
  /* establishes beans as background */
  .main-bkgd {
    background: #ffffff url("media/images/gulp-bottom-beans.jpg") repeat-x bottom;
    padding-bottom: 300px;
  }
  /* sits inside of the white background, centered */
 .main {
    max-width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;    
    justify-content: center;
  }
  
  .card_a, .card_b, .card_c {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
  }

  footer {
    background-color: #082B59;
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }
/*for tablet*/
  @media screen and (min-width: 600px) {
    body {
        max-width: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        line-height: 2;
      }
      header {
        background-color: #082B59;
        height: 234px;
        border-bottom: 10px solid #d98555;
      }
      /* navbar styling */
      nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      nav ul {
        margin-bottom: 1rem;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      nav li {
        margin: auto;
        font-size: 1.3rem;
        width: 120px;
      }
      nav a {
        margin-bottom: .75rem;
        color: white;
        text-decoration: none;
        display: block;
    }

    /* max width on the image in pixels */
      nav .logo img {
        margin-top: .5rem;
        margin-bottom: -1.5rem;
        max-width: 200px;
    }
      .main {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
    }

    .card_a, .card_b, .card_c {
        display:flex;
        flex-direction: row;
        width: 100%;
    }
    
      .card_text {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }


    }
    /*for desktop*/
    @media screen and (min-width: 900px) {
        body {
            max-width: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
            line-height: 2;
          }

        h2 {
          font-size: 1.5rem;
          width: 80%;
        }
        
        /* navbar styling */
        nav {
          display: flex;
          flex-direction: row;
        }
        nav ul {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
        nav li {
        font-size: 1.3rem;
          width: 120px;
        }
        nav a {
          color: white;
          text-decoration: none;
      }
  
      /* max width on the image in pixels */
        nav .logo img {
          margin-top: .5rem;
          margin-bottom: -1.5rem;
          max-width: 200px;
      }
        .main {
            max-width: 100%;
            display: flex;
            flex-direction: row;
            margin-left: 15px;
            margin-right: 15px;
            padding: 2rem;
        }
      .stack {
        display: flex;
        flex-direction: column;
      }
    
        .card_a {
          display: flex;
          flex-direction:column;
          width: 33%;
          }

        .card_b {
          display: flex;
          flex-direction: row-reverse;
          height: 100%;
          }
        .card_b .card_text {
          width: 60%;
        }
        .card_b img {
          margin-left: 1rem;
        }
        
        .card_c {
          display: flex;
          flex-direction: row;
          height: 100%;
          margin: 1rem;
            }
        .card_c .card_text {
          width: 60%;
            }

        .card_c img {
          margin-right: 1rem;
        }
        }